<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
    
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        
    </header>
    <main>
     <div class="img_servicios">
        <img src="../img/servicio1.png" alt="servicios1">
        <img src="../img/servicio2.png" alt="servicios2">
     </div>
     <div class="info_servicios">
        <h2>Portal de pagos</h2>
        <p>Puedes consultar tu saldo en Claro de forma fácil, rápida y gratuita a través de los canales digitales disponibles las 24 horas.</p>
        <h3>Desde App Mi Claro</h3>
        <ol>
            <li>Descarga o abre App Mi Claro en tu celular Android o iPhone.</li>
            <li>Inicia sesión con tu número de línea Claro, usuario y contraseña o biometría.</li>
            <li>
                En la pantalla principal ve a <strong>“Pagos y Consultas”</strong>, y luego a <strong>“Paga tu factura”</strong>, elige la cuenta que quieres consultar para ver:
                <ul>
                    <li>Saldo disponible</li>
                    <li>Fecha de corte</li>
                    <li>Referencia de pago</li>
                    <li>Descarga de tu factura</li>
                    <li>Pagos automáticos</li>
                    <li>Detalle de la última facturación</li>
                    <li>Historial de pagos</li>
                    <li>Factura por correo electrónico</li>
                </ul>
            </li>
            <li>
                También puedes acceder al detalle del plan y consultar datos, minutos y mensajes disponibles desde la opción
                <strong>“Detalle de tu plan”</strong>, en <strong>“Pagos y Consultas”</strong>.
            </li>
        </ol>
    
     </div>
    
    </main>
    <footer>
        <div class="footer">
            <p>Página creada por: EDWARD TRIGOS y FRANCISCO RINCÓN</p>
            <div class="iconos">
                <a href="https://www.facebook.com/ClaroCol/" target="_blank" title="Facebook">
                    <img src="../img/facebook.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/clarocolombia/" target="_blank" title="Instagram">
                    <img src="../img/instagram.png" alt="Instagram">
                </a>
                <a href="https://api.whatsapp.com/send/?phone=573205000000&text=Quiero+comprar+con+un+asesor&app_absent=0" target="_blank" title="X (Twitter)">
                    <img src="../img/whatsaapp.png" alt="X">
                </a>
            </div>
        </div>
    </footer>

</body>
</html>